In [9]:
import os
import glob
import pandas as pd
import csv

In [10]:

# Import csv file
df = pd.read_csv("NFL_Yearly_Breakdown_combined.csv")
#find null values
print(df.isnull())

       Rank  Player   Year    Pos   Team  Draft Year  BaseSalary  \
0      True   False  False  False  False       False       False
1      True   False  False  False  False       False       False
2      True   False  False  False  False       False       False
3      True   False  False  False  False       False       False
4      True   False  False  False  False       False       False
...     ...     ...    ...    ...    ...         ...         ...
24852  True   False  False  False  False       False       False
24853  True   False  False  False  False       False       False
24854  True   False  False  False  False       False       False
24855  True   False  False  False  False       False       False
24856  True   False  False  False  False       False       False

       SigningBonus  Cap Hit  Salary%   Cash    AAV  CONT YR  CONT VALUE  \
0             False    False    False  False  False    False       False
1             False    False    False  False  False    False       False
2             False    False    False  False  False    False       False
3             False    False    False  False  False    False       False
4             False    False    False  False  False    False       False
...             ...      ...      ...    ...    ...      ...         ...
24852         False    False    False  False  False    False       False
24853         False    False    False  False  False    False       False
24854         False    False    False  False  False    False       False
24855         False    False    False  False  False    False       False
24856         False    False    False  False  False    False       False

       Earnings  FA Year  Sign Year  Sign Age    Age  Unnamed: 19
0         False    False      False     False  False         True
1         False    False      False     False  False         True
2         False    False      False     False  False         True
3         False    False      False     False  False         True
4         False    False      False     False  False         True
...         ...      ...        ...       ...    ...          ...
24852     False    False      False     False  False         True
24853     False    False      False     False  False         True
24854     False    False      False     False  False         True
24855     False    False      False     False  False         True
24856     False    False      False     False  False         True

[24857 rows x 20 columns]

In [11]:
#drop columns that have no use in dataset
gross_Cap_Statistics_df = df.drop(columns=["Rank", "Unnamed: 19", "FA Year", "Sign Year", "Sign Age", "Draft Year", "Cash", "Earnings", "CONT VALUE", "CONT YR", "AAV"])
#drop future year rows
gross_Cap_Statistics_df= gross_Cap_Statistics_df[gross_Cap_Statistics_df.Year != 2023]
gross_Cap_Statistics_df= gross_Cap_Statistics_df[gross_Cap_Statistics_df.Year != 2024]
gross_Cap_Statistics_df

,Player,Year,Pos,Team,BaseSalary,SigningBonus,Cap Hit,Salary%,Age
0,Mark Sanchez,2011,QB,NYJ,"$14,225,000",$0,"$17,228,125",0.134,25
1,Dwight Freeney,2011,OLB,IND,"$11,420,000","$2,500,000","$16,420,000",0.134,31
2,Larry Fitzgerald,2011,WR,ARI,"$2,000,000","$5,000,000","$16,250,000",0.133,28
3,Mario Williams,2011,DE,HOU,"$13,800,000",$0,"$16,200,000",0.135,26
4,Peyton Manning,2011,QB,IND,"$3,400,000","$4,000,000","$16,000,000",0.130,35
...,...,...,...,...,...,...,...,...,...
23651,Austen Pleasants,2022,T,CAR,"$705,000",$0,"$705,000",0.003,25
23652,C.J. Saunders,2022,WR,CAR,"$705,000",$0,"$705,000",0.003,26
23653,Jesse James,2022,TE,CHI,$0,"$162,500","$487,500",0.002,28
23654,"Odell Beckham, Jr.",2022,WR,LAR,$0,"$100,000","$400,000",0.002,30
23655,Damien Williams,2022,RB,CHI,$0,"$125,000","$375,000",0.002,30

In [12]:
# write DF to new csv
# gross_Cap_Statistics_df.to_csv("Gross_Cap_Stats.csv",index=False)

In [13]:
gross_Cap_Statistics_df

,Player,Year,Pos,Team,BaseSalary,SigningBonus,Cap Hit,Salary%,Age
0,Mark Sanchez,2011,QB,NYJ,"$14,225,000",$0,"$17,228,125",0.134,25
1,Dwight Freeney,2011,OLB,IND,"$11,420,000","$2,500,000","$16,420,000",0.134,31
2,Larry Fitzgerald,2011,WR,ARI,"$2,000,000","$5,000,000","$16,250,000",0.133,28
3,Mario Williams,2011,DE,HOU,"$13,800,000",$0,"$16,200,000",0.135,26
4,Peyton Manning,2011,QB,IND,"$3,400,000","$4,000,000","$16,000,000",0.130,35
...,...,...,...,...,...,...,...,...,...
23651,Austen Pleasants,2022,T,CAR,"$705,000",$0,"$705,000",0.003,25
23652,C.J. Saunders,2022,WR,CAR,"$705,000",$0,"$705,000",0.003,26
23653,Jesse James,2022,TE,CHI,$0,"$162,500","$487,500",0.002,28
23654,"Odell Beckham, Jr.",2022,WR,LAR,$0,"$100,000","$400,000",0.002,30
23655,Damien Williams,2022,RB,CHI,$0,"$125,000","$375,000",0.002,30